
{% extends "layout/base2.html" %}
{% load static %}
{% block title %} NAGOYAMESHI {% endblock %}
{% block content %}

<style>
  .signup label {
    min-width: 150px;
  }

  .signup input {
    display: inline-block;
    width: 300px;
  }
</style>

<div class="container pt-4 pb-5 nagoyameshi-container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8">
      <br>
      
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <br>
          <div class="form-group d-flex justify-content-center mb-4">
            <button type="submit" class="btn btn-primary text-white shadow-sm w-50">登録</button>
          </div>
        </form>
      
    </div>
  </div>
</div>
{% endblock %}

