{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}

<main>
  <br>
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            管理メニュー
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="dropdown-item" href="{% url 'management_user' %}">会員管理</a>
            </li>
            <li class="list-group-item">
              <a class="dropdown-item" href="{% url 'management_shop' %}">店舗管理</a>
            </li>
            <li class="list-group-item">
              <a class="dropdown-item" href="{% url 'management_category' %}">カテゴリー管理</a>
            </li>
          </ul>
        </div> 

        <br>
        <form method="get">
          {% csrf_token %}
          {{ filter.form.as_p }}
          <div class="d-flex justify-content-end">
            <input class="btn btn-outline-secondary"  type="submit" value="search" >
          </div>
        </form>

      </div>
      <div class="col">
        <div class="d-flex justify-content-between flex-wrap">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">管理番号</th>
                <th scope="col">店舗名</th>
                <th scope="col">郵便番号</th>
                <th scope="col">住所</th>
                <th>
                  <div class="text-center">
                    <button class="btn btn-outline-secondary"  onclick="location.href='{% url 'management_shop_form' %}'"> 新 規 作 成 </button>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                {% for obj in filter.qs %}
                <th scope="row">{{ obj.id }}</th>
                <td>{{ obj.name }}</td>
                <td>{{ obj.zip_code }}</td>
                <td>{{ obj.address }}</td>
                <td>
                  <div class="text-center">
                    <button class="btn btn-outline-secondary" onclick="location.href='{% url 'management_shop_update_form' pk=obj.pk %}'">編集</button>
                    <button class="btn btn-outline-secondary" onclick="location.href='{% url 'management_shop_confirm_delete' pk=obj.pk %}'">削除</button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <p class="text-center">
          {# ページの表示 #}
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
        </p>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {# 前へ #}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; 先頭</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">前へ</a></li>
            {% endif %}

            {# 次へ #}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">次へ</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a></li>
            {% endif %}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</main>
{% endblock %}



